
.header{
    position: relative;
    width:100%;
    height: 50px;

}

.top-main{
    position: relative;
    width:100%;
}

.margin{
    margin:5%;
}

.area-btn{

    text-decoration: none;
    font-weight: 500;
    font-size: 32px;
    position: absolute;
    left:0%;
    color: #000000;
}


.learn-more{

    text-decoration: none;
     position: absolute;
    right:0%;
   padding: 12px 24px; 
   border: none; 
   border-radius: 30px;
   background-color: #556B2F;
   color: #ffffff;
}

.learn-more:hover { background-color: #6B8E23;  }

.bottom-main{

    position: relative;
    width:100%;
    height:34px;
}

.sticky-menu {
    
    display: flex;      
    flex-direction: row; 
     
    left:27%;  
    top:3%;
    color: #121313;
     text-decoration: none;
     position: absolute;
     
  
   border: none; 
   border-radius: 30px;
   background-color: #adb7bb;
    height: 45px;
    padding-top: 4%;
    padding-left: 31px;
        padding-right: 36px;
        width:36%;
    justify-content: space-around;
    list-style-type: none;
                  
}

.sticky-menu li {
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.banner-ever{
    position: relative;
    width:100%;
    height: 345px;
}

.banner-ever h2{

    font-size: 157px;
    transform: translate(0, 0);
  transition: transform 0.5s ease;
}

.desktop img {
    height: 496px;
    width: 100%;
}


.tab img {

    height: 100px;
    width:100px
}


 .tab{ display: none;}

 .makesticky{

    position: fixed;
    top: 13px;
    z-index: 99999;
 }


 .greenish{

    background-color: #0ce89b;
 }

 .whitish{

    background-color: #b1d0c5;
 }

 .greyish{

    background-color: #c0c4f3;
 }

 .banner-ever h2:hover{
   translate: 50px 0;
 }

.mobile{ display: none;}

.list-header select {
width: 344px;
    border: #4c7779;
    border-radius: 12%;
    border: solid;
    padding: 12px 45px;
    margin-top: 25px;

}

 @media screen and (max-width: 480px) { 



    .sticky-menu {   
             left: 5%;
        width: 72%;
        
    }

    .banner-ever h2 {
    font-size: 61px;
    }
    .sticky-menu li { font-size: 10px;}

    .desktop{ display: none;}

     .tab{ display: none;}

     .mobile{ display: block;
    
        position: relative;
        
        height: auto;
    
    }
 .area-btn{ display: none;}

    .learn-more{display:none;}


.mobile img {
 

  height: 453px;
         
        width: 100%;
        display: block;
    
}


 }

 @media screen and (min-width:481px) and (max-width:600px) { 
 .sticky-menu {   
             left: 5%;
        width: 72%;
        
    }

    .banner-ever h2 {
    font-size: 61px;
    }
    .sticky-menu li { font-size: 10px;}

    .desktop{ display: none;}

     .tab{ display: none;}

     .mobile{ display: block;
    
        position: relative;
        
        height: auto;
    
    }
 .area-btn{ display: none;}

    .learn-more{display:none;}


.mobile img {
 

  height: 453px;
         
        width: 100%;
        display: block;
    
}

 }

 @media screen and (min-width:601px) and (max-width:767px) { 

    .sticky-menu {   
             left: 5%;
        width: 72%;
        
    }

    .banner-ever h2 {
    font-size: 61px;
    }
    .sticky-menu li { font-size: 10px;}

    .desktop{ display: none;}

     .mobile{ display: none;}

     .tab{ display: block;
    
        position: relative;
        
        height: auto;
    
    }
 .area-btn{ display: none;}

    .learn-more{display:none;}


.tab img {
 

  height: 453px;
         
        width: 100%;
        display: block;
    
}

 }


 @media screen and (min-width:768px) and (max-width:900px) { 

    .area-btn{ display: none;}

    .learn-more{display:none;}

    .mobile{ display: none;}

 .desktop{ display: none;}

     .tab{ display: block;}

.tab img {

    height: 100px;
    width:100px
}

 }

  @media screen and (min-width:901px) and (max-width:1024px) { 


  }